<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Infilon</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    
</head>
<body>
    <div class="body-content">

        <div class="topnav">
            <a href="@Url.Action("Index")">Odd</a>
            <a href="@Url.Action("Even")">Even</a>
            <a href="@Url.Action("History")">History</a>
        </div>
        @RenderBody()
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>